/*
 * Data list managament panel styles.
 */
/* ---------------- Tab container in db-options panel ----------------------- */
#filter-opts
    padding: .5em
    border-left: 1px black solid
    border-right: 1px black solid

#filter-opts.shw-col-borders
    background: rgba(121, 201, 183, .1)
/* ---------------- Filter Options Panel ------------------------------------ */
#filter-pnl
    max-height: 17em
    border-radius: .8em

#filter-pnl.vert
    max-height: 34em
    border-left: none

#filter-pnl.closed
    max-height: 0

#filter-pnl div.field-cntnr
    width: 18em
/* ----------- Table-Focus and Date Filters (First) Column ------------------ */
#filter-col1
    width: 48em
    border-right: black 1px solid

#filter-col1 span
    min-width: 3.6em

#filter-col1.vert
    border-bottom: black 1px solid
    border-right: none
    width: -webkit-fill-available

#focus-filter-hdr
    align-self: center
    padding-bottom: .7em
    font-weight: 600

#focus-filters
    margin-bottom: .75em

#focus-filters .field-cntnr
    width: 50%
    max-width: 26em

#focus-filters label
    margin: .3em

/* --- Time Updated Filter --- */

#shw-chngd-ints
    width: 100%
    margin-top: auto
    align-items: center

#filter-col1.vert #shw-chngd-ints
    width: auto
    margin-bottom: 5px

#shw-chngd
    margin: .5em

.date-fltr-sel
    margin: 0 .5em .5em .5em
    width: 7em

#filter-cal, #filter-cal+.form-control.input
    padding: .3em
    margin-left: .5em
/* ----------------- Filter Sets (Second) Column ---------------------------- */
#stored-filters
    flex-grow: 1

#stored-filters button
    height: 2em
    width: 4em

#stored-filters textarea
    font-weight: 600
    font-size: .8em

.saved-filters-sel
    width: 11em
    margin-left: 0 !important

.filter-set-details
    margin-left: .3em
    width: -webkit-fill-available

#filter-set-name
    margin-left: .5em

#filter-set-name + input
    font-weight: 600
    font-size: .8em
    margin-left: .5em