/*
 * Core styles for all database options panels.
 */
.pop-out-panel
    width: 100%
    background: #f2f9f8
    padding: 8px 4px 8px 4px
    border: black 1px solid
    transition: all .5s ease-in-out
    overflow-y: hidden

.pop-out-panel>div
    padding: .2em .5em

.pop-out-panel span
    padding-top: .3em

.pop-out-panel.vert
    width: 50%

.pop-out-panel.closed
    border-radius: 0
    padding: 0
    border: 0
    transition: all .5s ease-in-out
    overflow-y: hidden

.shw-col-borders
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    border-top: black 1px solid
    transition: all .5s ease-in-out
    /*border-right: black 1px solid !important*/

.panel-open-toggle
    box-shadow: inset 0px 4px 10px #C1C1CA

.adminbttn.panel-open-toggle
    box-shadow: inset 0px 4px 10px darkslateblue
/* ----------------- Lists & Filters Container ------------------------------ */
#fltr-int-pnl-cntnr
    width: 100%