/*
 * Data review managament panel styles.
 */
/* ---------------- Tab container in db-options panel ----------------------- */
#data-opts
    // border-right: 1px black solid
    border-left: 1px black solid
    padding: 5px

#data-opts.shw-col-borders
    background: #3399ff33
    border-right: 1px black solid
/* ---------------- Data Review Panel --------------------------------------- */
#review-pnl
    max-height: 222px
    align-items: stretch
    background: #3399ff33
    border-radius: 10px

#review-pnl.vert
    max-height: 444px

#review-pnl.closed
    max-height: 0

#review-pnl>div
    padding: 5px

#review-pnl label.field-cntnr
    margin: .3em

[id^='rvw-hdr']
    font-weight: 600
    align-self: center

/* ------------- Select Review (First) Column ------------------------------- */
#rvw-pnl-col1
    flex: 0 0 25em

#rvw-pnl-col1 span
    margin-right: .3em

.rvw-sel
    width: 98%

#data-rvw-date-range
    justify-content: flex-end

#data-rvw-date-range>span
    margin-right: auto

.date-range-input
    width: 10em
    margin: 0 .3em
// #rvw-editor-sel

// #rvw-status-sel

// /* --- Date Range ---- */
// #rvw-date-start-sel

// .start-sel

// #rvw-date-end-sel

// .end-sel

// #rvw-cntrl-bttn

/* ------------- Review Details (Second) Column ----------------------------- */
#rvw-pnl-col2
    flex: 0 1 490px
    border-left: black 1px solid
    border-right: black 1px solid
    margin-left: .5em

/* ------------- Modification and Statistics (Third) Column ----------------- */
#rvw-pnl-col3
    flex: 1 1 412px

#rvw-pnl-col3-content
    width: max-content

#rvw-pnl-col3>div:first-child
    margin-bottom: 1em

#rvw-pnl-col3 label>span:first-child
    font-weight: 600
    margin-right: 1em