{% extends 'layout.html.twig' %}

{% block headline %}Join BatBase.org{% endblock %}

{% block detail %}
    <h3>An email has been sent to {{ email }}.</h3>
    <br>
    <h4>It contains an activation link you must click to activate your account.</h4>
{% endblock %}
