{% extends 'layout.html.twig' %}

{% block headline %}Edit Profile{% endblock %}

{% block detail %}
    <div id="top-form-container">
        <form method="POST" class="recaptcha-form">

            {{ form_start(form) }}

            <span style="color: red;"><b>{{ form_errors(form) }}</b></span>

            {% embed 'form/two_cols_sect.html.twig' %}
                {% block firstcol %}
                    {{ form_row(form.username) }}
                    {{ form_row(form.first_name) }}
                    {{ form_row(form.about_me) }}
                    {{ form_row(form.interest) }}
                    {{ form_row(form.password) }}
                {% endblock firstcol %}

                {% block secondcol %}
                    {{ form_row(form.email) }}
                    {{ form_row(form.last_name) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.education) }}
                {% endblock secondcol %}
            {% endembed %}
            {{ form_widget(form.captcha) }}

            <input id="edit-submit" type="submit" style="opacity:.3;" disabled value="Update Profile" />
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function onReCaptchaSuccess() {
            $('#edit-submit').attr('disabled', false).fadeTo('fast', 1);
        };
    </script>
{% endblock javascripts %}