{% extends 'layout.html.twig' %}

{% block headline %}User Profile{% endblock %}

{% block detail %}
    <div>
        <p style="margin: 0 1em 1em 1em">Email: {{ user.email }}</p>
        <p class="em-mrg">Username: {{ user.username }}</p>
        <p class="em-mrg">First Name: {{ user.firstName }}</p>
        <p class="em-mrg">Last Name: {{ user.lastName }}</p>
        <p class="em-mrg">Country: {{ user.country }}</p>
        <p class="em-mrg">About Me: {{ user.aboutMe }}</p>
        <p class="em-mrg">Interest Area: {{ user.interest }}</p>
        <p class="em-mrg">Education: {{ user.education }}</p>
        <a style="margin-right: 1em;" href="{{ path('user_edit') }}">Edit Profile</a> |
        <a class="em-mrg"href="{{ path('app_forgot_password_request') }}">Change Password</a>
    </div>
{% endblock %}
