{% extends 'layout.html.twig' %}

{% block headline %}Reset your password{% endblock %}

{% block detail %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
