/**
 * * TODO: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE

 *
 */
 /* ====================== TABLE POPUP ====================================== */
#db-popup
    background: #FFF
    display: none
    position: relative
    z-index: 2000
    text-align: center
    font-size: 20px
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75)
    bottom: 75%
    left: 45%
    width: 500px
    height: 100px
    padding: 22px
    margin-left: -150px
    margin-top: -50px
    border-radius: 5px

#db-overlay
    display: none
    position: absolute
    z-index: 1000
    top: 0
    left: 0
    background-color: grey
    width: 100%
    height: 91%
    opacity: .2
/* ======================== ROW STYLES ====================================== */
.row-purple
    background-color: rgba(128,0,128,.13) !important /* purple */

.row-green
    background-color: rgba(0,128,0,.15) !important /* green */

.row-blue
    background-color: rgba(0,0,255,.15) !important /* blue */

.row-orange
    background-color: rgba(255,128,0,.17) !important /* orange */

.row-turquoise
    background-color: rgba(0,245,255,.11) !important /* turquoise */

.row-yellow
    background-color: rgba(255,255,0,.2) !important /* yellow */

.row-red
    background-color: rgba(255,0,0,.15) !important /* red */




//SORT
/**------------------------------ Table Styes ------------------------------- */
#db-view
    height: 86vh
    border: black 1px solid

#search-tbl
    height: 100%

.tbl-edit
    height: 22px
    width: 20px
    position: relative
    left: 9px

.ag-menu
    z-index: 100

/* -------------- ICONS ------------- */
.tree-icon
    float: right
    margin-right: .25em

.object-icon
    margin-right: 1em

.tree-show
    @extend .tree-icon
    width: 1em

.txn-group-icon
    @extend .tree-icon

.tree-arrow-icon
    @extend .tree-icon
    width: 1em