/*
 * Password visibility toggle
 */
.showHiddenPassword-wrapper
    position: relative
    width: 100%

.showHiddenPassword-wrapper .is-invalid 
    background-image: none !important
    background-size: 0 !important

.showHiddenPassword-toggle
    position: absolute;
    top: 50%;
    right: 1.5em;
    transform: translateY(-50%);
    width: 1em

.fa-eye
    content: url(../../images/icons/eye.svg)

.fa-eye-slash
    content: url(../../images/icons/eye-slash.svg)