/*
 * Style sheet for the Database Search page.
 * Note: Screens must have a pixel width of at least 1280 to view this page.
 *
 * Note: Fully refactoring from css -> stylus has not been prioritized. Moving
 * pieces over as they get worked on
 * * TODO: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE
 *
 * CODE SECTIONS:
 *     ROOT ELEM STYLES
 *     SEARCH OPTIONS BAR
 *     PANEL
 *     MISC
 *         INTRO.JS
 *         TIPS POPUP
 */
 /* ====================== PAGE STYLES ====================================== */
@import './data-entry/*'
@import './panels/*'
@import './table/*'
@import './toolbars/*'
@import 'map'
@import './panels/*'



#content-detail
    margin-top 0
/*--- ROOT ELEM STYLES ---*/
#detail-block input, #detail-block textarea, #detail-block select
    padding: 4px

/* ======================= MISC STYLES ====================================== */
/** ------- INTRO.JS ------- */
.intro-tips  // Walkthrough tutorial
    width: 420px
    text-align: justify

.intro-bttn // Buttons inside page walkthrough
    width: 99px
    height: 27px

.hlp-bttn // Question marks in panels triggering intro tutorial slides.
    height: 22px !important
    width: 23px !important
    font-weight: 600

.introjs-helperNumberLayer
    line-height: 10px !important
    background: black !important
/*--------- POPUPS ------------*/
@import "popups"
