/* ==========================================================================
   ----------------------- MAIN STYLESHEET ----------------------------------
   ========================================================================== */
/* Functions, mixins, variables, etc. */
@import 'util/*'
@import 'util-relative-paths/*'
/* ----------- PAGE STRUCTURE -------------- */
$content-width
    @media screen and (min-width: 1500px)
        max-width: 1500px
        width 1500px
    @media screen and (max-width: 1500px)
        max-width: 100vw

#pg-container
    @extend $content-width
    position: relative
    margin: 0 auto

#content-detail
    position: absolute
    z-index: -1
    width: 100%
    padding .5em
    top: 461px;
    @media screen and (min-width: 1330px)
        margin-top 1em
    @media screen and (max-width: 1330px)
        margin-top .5em

#detail-block
    min-height 33vh

.first-col, .second-col
    max-width 100vw
    padding .5em

.top-pgs p
    margin 1em
    font-size 1.15em

#footer
    @extend $content-width
    padding: 1em 0 3em 0
    border-top: 1px solid #000
    justify-content: space-between
    margin-top 1em

#footer p
    font-size .8em
    margin .5em

#footer span
    margin .5em
/* Popups, datatables/wysiwyg/wtc. */
@import 'base/*'
/* Image slider, site header/nav */
@import 'base/header/*'
/* Search page, entity pages, top-pages.  */
@import 'pages/*'
