
/* ====================== SIDE PANEL ======================================== */
/* ------------------------MESSAGES ----------------------------------------- */
#rvw-msg-cntnr > *
    padding: .2em
    margin: .3em 0

.rvw-msgs
    width: 100%;
    height: fit-content;
    min-height: 2em;
    max-height: 22em;

#rvw-msg-hstry
    margin-bottom: 0

#rvw-msg
    min-height: 6em;

/* -------------------------- POPUP ----------------------------------------- */
/* ============= DATA REVIEW =================== */
/* ====================== ROOT FORM ======================================== */