/**
 *
 * TODO: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE
 */
 /* ====================== DETAIL PANEL ====================================== */
#form-panel
    width: 18em
    margin: .5em .2em 0 .2em
    padding: 0 .5em .5em .5em
    overflow-y: scroll

#form-panel > *
    padding: .2em
    margin: .3em 0

#form-panel h3
    text-align: center
    font-size: 1.15em
    margin-bottom: .5em

#ent-id
    color: darkgrey
    text-align: right

#form-panel.interaction
    width: 33em
/* --------------------- INTERACTION DETAILS -------------------------------- */
.det-div div li
    padding: 0.2em 0.2em .5em
    max-height: 20em
    overflow-y: auto
    border-bottom: .2em solid darkgrey
    margin-bottom: .3em
/* --------------------- GENERAL COUNT DETAILS ------------------------------ */
.cnt-div
    margin: .5em

.cnt-div div, .cnt-div span
    padding: .25em
    width: 2em
    text-align: right