i// Core Form
//      Large
//      Medium
//      Small
//      Sub-forms
//      Fields
//      Row Containers
// Form Specific
/**
 * * TODO: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE

 *
 */

 .exit-bttn
    width: 2em
    height: 2em
    font-weight: bold

/* ============= SIDE PANEL =================== */
@import 'form-panel'
/* ============= DATA REVIEW =================== */
@import 'data-review'
/* ====================== ROOT FORM ======================================== */
/* -------------------------- POPUP ----------------------------------------- */
.form-ovrly
    align-items: center
    display flex !important

.form-popup
    display flex !important
    top: unset !important
    text-align: left
    justify-content: space-between
    flex-direction: column
    overflow-y: scroll
    min-height: fit-content
    // overflow-x: hidden
    font-size: .9em

.form-popup>div.flex-row
    height: 95%

/* --- Large (Interaction) Forms --- */
.form-popup.lrg-form
    padding: 15px
    min-width: 1200px
    width: 88vw
    max-width: 104em
    min-width: 1200px
    height 88vh
    max-height 88em
    // max-width 93vw


/* --- Medium Forms --- */
.form-popup.med-form
    padding: 15px
    height 88vh
    max-height: 88vh
    width 77em
    min-width: 1000px
    // width 1212px

/* --- SMALL FORM --- */
.form-popup.sml-form
    padding: 15px
    height 55vh
    max-height: 55vh
    width: 44em
    min-width: unset
/* ----------------------- HELP/EXIT ROW ------------------------------------ */
.exit-row
    width: 100%
    justify-content: space-between
    display: flex

// div[id$="-help"] //Form tutorial/guide buttons
    // width: 100%
/* ------------------------ FORM CONTAINER ----------------------------------- */
#top-form
    padding: 5px 0 0 5px
    height: 100%
    width: -webkit-fill-available
    // overflow-x: hidden

// #top-form.lrg-form
    // width: 66em
/* --- Medium Forms --- */
// #top-form.med-form
//     height 77vh
    // flex 1 0 909px
    // width 909px

/* --- SMALL FORM --- */
// #top-form.sml-form
//     height 55vh
//     flex 0 0 464px
/* -------------------------- HEADER ---------------------------------------- */
#top-hdr
    font-size: 1.3em
    margin-bottom: 1em

.form-popup [id$="-hdr"]
    /*margin-bottom: 10px*/
    text-align: center
    padding-top: 4px


div[id$="-hdr"]
    justify-content: space-between
/* ----------------------- STATUS/ALERTS ------------------------------------ */
#success
    margin-bottom: 15px
    font-weight: bold
    border: 2px solid
    padding: 10px
    display: none

#success>div
    justify-content: space-between

#success>div>p
    padding-top: 6px

/* ----------------------- ROOT-FORM SPECIFIC ------------------------------- */
#top-form .selectize-control
    width: -webkit-fill-available


#top-form textarea
    height: 63px

.top-pin
    margin: .6em 0 0 .6em !important

#top-form input, #top-form select, #top-form textarea
    padding: .2em
    margin: 0
    font-size: .95em


form[name="top"] p, form[name="top"] .bttn-cntnr
    width: 100%

/* ============================= SUB-FORMS ================================== */
$sub-form-styles
    border: 1px solid grey
    border-radius: 5px
    padding: 1em
    margin: .25em
    // overflow-x: hidden
    // overflow-y: unset

.med-sub-form, .sml-sub-form
    @extends $sub-form-styles

// #sub-form.sml-form
//     @extends $sub-form-styles

// #sub2-form.sml-form
//     @extends $sub-form-styles
/* --------- Fields -------- */
#sub-form .sub_lbl, #sub2-form .sub2_lbl
    font-size: 1em
    padding: 9px 0 2px 0

#exit-sub-form
/*    position: relative
    left: 24%*/
    font-size: .75em !important

#sub-hdr, #sub2-hdr
    font-size: 1.1em

/* =========================== ROWS & FIELDS ================================ */
/* ------------------------------ ROWS -------------------------------------- */

div[id$="_fields"] //Contains all entity-form fields
    // min-width: 100%

 /* ======================+++ FOOTER ======================================== */

.all-fields-cntnr
    padding-top: 1em

.bttn-cntnr
    align-self: flex-end
    padding: 10px

.bttn-cntnr input
    padding: 3px !important
    margin: 3px !important


/* ============================= VALIDATION ================================= */
/** ------------ Error Styles -------------- */
[id$="_alert"]
    display: flex
    justify-content: center
    text-align: center
    width: 100%
    color: red

[id$="_alert"] span
    margin-top: .3em
    justify-content: center

/* Used to style the active-alert. ".alert-active" used to flag form invalid */
[class$="active-alert"]
    // padding: .3em
    // margin-bottom: .3em

[id$="_alert"]>p
    padding-top: .4em
    width: initial !important

#data_alert .exit-bttn
    width: 3em

.alert-exit
    color: darkred
    height: 1.75em
    width: 1.7em
    margin-left: 1em !important

/* -------------- TO BE SORTED ------------------- */
.warn-msg
    padding-top: .5em
    font-weight: 600
    margin-right: 1em
.warn
    background-color: rgba(255, 255, 0, .3)

/* ======================= FORM SPECIFIC ==================================== */
#Quote_f, #Note_f
    width: -webkit-fill-available
/**--- Taxon Form ---*/
#Subject_fields, #Object_fields
    padding-left: 1em

#Group_f, #Sub-Group_f
    margin-left: -1em

/*------------- Loc Map Styles ----------------*/
#loc-note .map-link
    text-decoration: underline
    cursor: pointer

#form-map
    border: 1px grey solid
    height: 29em
    width: 100%
    margin: 1em auto 0 auto

.loc-gps-note
    width:initial
    margin:auto
    text-align: center
    color: slategrey
    margin-top: 3px

.form-loc-popup
    font-size: 1.1em

/* ------------- Map Markers ------------- */
.single-marker
    width: 33px !important
    height: 33px !important
    margin-left: -12px
    margin-top: -15px
    border-radius: 25px
    border: 4px solid rgba(181, 226, 140, 0.7)
    text-align: center
    color: #222
    padding-top: 4px
    background-color: rgba(110, 204, 57, 0.9)
    font-size: 11px

.form-noGps
    width: 33px !important
    height: 33px !important
    margin-left: -12px
    margin-top: -15px
    border-radius: 25px
    border: 4px solid rgba(241, 211, 87, 0.7) /*yellow*/
    text-align: center
    color: #222
    padding-top: 4px
    background-color: rgba(240, 194, 12, 0.9)
    font-size: 11px

/* --- Geocoder Search Elem --- */
.leaflet-control-geocoder
    font-size: 16px

.leaflet-control-geocoder-icon
    margin: initial
    padding: initial
    font-size: initial






// #top-form.med-form .top-row
//     width 450px

// #top-form.med-form label
    // flex: 0 1 100px

/* --- Small Forms --- */

/* --- Sub-forms --- */
