// HOME
// PROJECT
// ABOUT DB
// DEFINITIONS
// FUTURE DEV
// REGISTRAION
// UPLOAD PDFS
/*----- (SEARCH PAGE IN DEDICATED FILE: DB.STYL & SEARCH_DB.CSS) -------------*/
.two-col-outer .first-col
    flex: 2 1 420px;

.two-col-outer .second-col
    flex: 1 1 420px;
/*---------------- HOME ---------------------*/
#home-pg .two-col-cntnr > div, #team .first-col, #team .second-col
    flex: 1 1 420px;
/*--------------- PROJECT -------------------*/
#about-pg .first-col
    @extend .flex-col
    flex: 1 1 444px

#about-pg .first-col .first-col, #about-pg .second-col .second-col
    flex: 50

#about-pg .second-col
    @extend .flex-col
    flex: 1 0 375px

#team-hdr
    text-align: center
    margin: 2em auto 2em auto
    width 100%

.bio-img
    height: 200px
    width: 160px
    float: left
    margin: 0 1em 1.5em 0
    box-shadow: 2px 2px 3px rgba(0,0,0,0.6)

.editor-info
    // font-size: larger
    border: 1px grey solid
    border-radius: .3em
    padding: .5em
    line-height: 1.4em
    width: 33%
    margin: .1em
/*-------------- ABOUT DB ------------------*/
#about-db p
    font-size: 1em

#about-db .first-col
    flex: 1 1 400px
    max-width 100vw

#about-db .second-col
    flex: 1 0 375px
    max-width 100vw

#about-db-how-to-use ul
    padding-inline-start: 2.5em
    padding-bottom 1em
    padding-top 0

.db-about-imgs
    @extends .flex-row
    align-items center

    @media $mqTablet
        flex-wrap: wrap

.db-about-imgs > img
    padding .25em 0 3em 0
    max-width: 50%

    @media $mqTablet
        max-width: 90vw
        margin: auto
/*-------------- DEFINITIONS ----------------*/
#def-pg .first-col
    flex: 1 0 290px
    max-width 100vw

#def-pg .second-col
    flex: 0 1 824px
    max-width 100vw
/*------------- FUTURE DEV -----------------*/
#add-pubs
    margin 1em 0 2em 0
    height: 40vh
    width: 100vw
    @media screen and (min-width: 1000px)
        height 445px
        width 100%

#pub-sbmt-pg .first-col
    flex: 2 1 400px
    max-width 100vw

#future-dev-pg .first-col
    flex: 1 1 444px
    max-width 100vw

#future-dev-pg .second-col, #pub-sbmt-pg .second-col
    flex: 1 1 400px
    max-width 100vw
/*--------------- UPLOAD PDFS --------------------------*/
#pub-sbmt-pg h4
    @media screen and (max-width: 500px)
        margin 1em

form[name="app_file_upload"] textarea, form[name="app_file_upload"] input
    width: 100%;
/*------------- REGISTRATION -----------------*/
#reg-submit
    opacity: .5

.recaptcha-form
    height: -webkit-fill-available

.g-recaptcha
    margin: 1em 0
/*------------- CONTENT BLOCKS -----------------*/
#edit-content-block-page textarea
    height: 10em

#edit-content-block-page>a
    margin-bottom: 1em

/*------------- LOGIN -----------------*/
#login-form
    width 25em

#login-form .form-control
    width 100%