/*-------------- IMAGE SLIDER -------------*/
$slider-height
    height: 375px
    // max-height 423px
    @media $mqPhone
        height: 27vh

#slider-logo
    content url('../../../images/logos/logo_vert_pale_txt.svg')
    position: absolute
    top: 15%
    left: 5%
    z-index: 11
    max-height 225px
    opacity: 0
    @media $mqTablet
        position relative
        background-color Black
        height 27vh
        min-height: 11em
        padding: 22px
        width: 100vw
        left 0px

#slider-logo.overlay  //non-chrome browser warning msg
    position relative
    max-width 20vw
    top 0px
    @media screen and (max-width: 660px)
        max-width: 90vw
        top .5em
    @media screen and (min-width: 660px)
        max-width: 35vw
        top 1em

#slider-overlay
    @extends $slider-height
    position: absolute
    z-index: 10
    max-width: 30vw;
    @media screen and (max-width: 500px)
        max-width: 100vw;
        background-color black
        position relative
    @media screen and (min-width: 700px) and (max-width: 1000px)
        max-width: 50vw;
    @media screen and (min-width: 1000px) and (max-width: 1330px)
        max-width: 40vw;

#slider-overlay.mobile-hdr
    max-width 100vw
    background-color black
    height max-content

#chrome-opt-msg /* Shown on all browsers except chrome */
    position: relative
    color: silver

#img-slider
    @extend $content-width
    @extends $slider-height
    max-width: 100vw;
    overflow hidden

.slide
    @extends $slider-height
    position: absolute
    z-index: 0
    width: 100%
    transition: all 2s ease-in-out
    opacity: 0
    object-fit: cover