{% extends 'layout.html.twig' %}

{% block masthead %}
{% endblock %}

{% block pageid %}error_content{% endblock pageid %}

{% block detail %}
    {% embed 'form/three_cols_sect.html.twig' %}
        {% block firstcol %}
        {% endblock firstcol %}
        {% block secondcol %}
            <img src="{{ asset('build/images/BatLogo_Horizontal_Color.svg') }}"
            	id="error_logo" alt="batbase.org">
            <h1>Something went wrong...</h1>

            <p>Try refreshing the page or <a href="{{ path('app_home') }}">return to
            	the homepage</a><br><br>
        		{% if is_granted("ROLE_USER") %}
        		    If you think you have stumbled on a technical bug, <br><a
        		    href="{{ path('app_feedback') }}">leave us feedback</a> so we can
        		    track it down.
        		{% endif %}
        	</p>
        {% endblock secondcol %}
        {% block thirdcol %}
        {% endblock thirdcol %}
    {% endembed %}
{% endblock %}